<div class="new-contact-method-form-content">
  <form class="form-inline">
    <div class="alert-message" "error"></div>
    <div class="address">
      <input type="text" class="contact-method-address">
    </div>
    <div class="cm-label">
      <select class="contact-method-label select-with-other" id="label" name="label">
        <option>Mobile</option>
        <option>Home</option>
        <option>Other</option>
      </select>
    </div>
    <input class="btn cancel" name="Cancel" type="button" value="Cancel">
    <input class="btn btn-primary submit" type="submit" value="Save">
  </form>
</div>
