<div id="user-profile">
  <table class="table table-condensed" style="width: auto;">
    <tr>
      <th scope="row">Name</th>
      <td><%= @user.name %></td>
    </tr>
    <tr>
      <th scope="row">Email</th>
      <td><%= mail_to @user.email %></td>
    </tr>
  </table>
</div>

<h2>Contact Methods</h2>
<div id="contact-method-list"></div>

<h2>Notification Rules</h2>
<div class="notification-rule-list"></div>
