<div id="user-profile">
  <table class="table table-condensed" style="width: auto;">
    <tr>
      <th scope="row">Name</th>
      <td><%= @user.name %></td>
    </tr>
    <tr>
      <th scope="row">Email</th>
      <td><%= mail_to @user.email %></td>
    </tr>
  </table>
</div>

<div id="contact-method-list">
  <div class="contact-method-groups">
    <div class="contact-methods-phone">
      <div class="contact-method-group well well-small">
        <h4>Phone:</h4>
        <div class="contact-methods-container">
          <div class="contact-methods">
            <div class="contact-method">
              <div id="contact-method-ID">
                <div class="address-display padded">
                  <span>619-337-4925</span>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
            <div class="contact-method">
              <div id="contact-method-ID">
                <div class="address-display padded">
                  <span>619-555-5555</span>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
          <a class="add_contact_method">+ Add Phone Number</a>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="contact-methods-sms">
      <div class="contact-method-group well well-small">
        <h4>SMS:</h4>
        <div class="contact-methods-container">
          <div class="contact-methods">
          </div>
          <a class="add_contact_method">+ Add SMS Number</a>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="contact-methods-email">
      <div class="contact-method-group well well-small">
        <h4>Email:</h4>
        <div class="contact-methods-container">
          <div class="contact-methods">
            <div class="contact-method">
              <div id="contact-method-ID">
                <div class="address-display padded">
                  <span>619-337-4925</span>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
            <div class="contact-method">
              <div id="contact-method-ID">
                <div class="address-display padded">
                  <span>619-555-5555</span>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
            <div class="contact-method">
              <div class="cm-form" id="contact-method-new">
                <%= render 'new_contact_method' %>
              </div>
              <div class="clearfix"></div>
            </div>
          <a class="add_contact_method">+ Add Email Address</a>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>

