<a href="#new-alert-dialog" role="button" class="btn" data-toggle="modal" data-backdrop="">Create New Alert</a>
<div id="new-alert-dialog" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h3 id="myModalLabel">Trigger a new alert</h3>
  </div>
  <div class="modal-body">
    <div class="new-alert-form-content">
      <form class="form-stacked">
        <fieldset>
          <label>Recipient</label>
          <select name="recipient" class="chzn-select" data-placeholder="Select a recipient">
          </select>
          <label>Description</label>
          <input type="text" name="description">
          <label>Details</label>
          <textarea rows=7 name="details"></textarea>
        </fieldset>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary submit">Create</button>
  </div>
</div>
<div>
  <div class="alerts-grid"></div>
  <div class="pagination">
  </div>
</div>
