<a href="#myModal" role="button" class="btn" data-toggle="modal" data-backdrop="">Create New Alert</a>
<div id="myModal" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h3 id="myModalLabel">Trigger a new alert</h3>
  </div>
  <div class="modal-body">
    <div class="new-alert-form-content">
      <form class="form-stacked">
        <fieldset>
          <label>Recipient</label>
          <input type="text">
          <label>Description</label>
          <input type="text">
          <label>Details</label>
          <textarea rows=7></textarea>
        </fieldset>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary">Create</button>
  </div>
</div>
<div><h3>pages etc</h3></div>
<div>
  <table>
  </table>
</div>

