<table class="alert-details-table table table-condensed table-bordered">
  <tr>
    <th>Current status</th>
    <td class="<%= @alert.status_name %>"><%= @alert.status_name.capitalize %></td>
  </tr>
  <tr>
    <th>Opened on</th>
    <td><%= @alert.created_at %></td>
  </tr>
  <tr>
    <th>Description</th>
    <td><%= @alert.description %></td>
  </tr>
</table>

<h2>Alert History</h2>
<div id="le-list">
  <div id="le-table">
    <table class="table table-condensed table-bordered table-striped table-hover">
      <thead>
        <tr>
          <th>Time</th>
          <th>Activity</th>
        </tr>
      </thead>
    </table>
  </div>
</div>
