<div class="pull-left">
  Selected Alerts:
  <a class="btn btn-small resolve-alerts" data-status="resolved">Resolve</a>
  <a class="btn btn-small ack-alerts" data-status="acknowledged">Acknowledge</a>
</div>
<div class="pull-right">
  <a class="btn btn-small btn-info new-alert">
    <i class="icon-plus-sign"></i> New Alert</a>
</div>
