<div class="contact-methods-phone">
  <div class="contact-method-group well well-small">
    <h4>Phone:</h4>
    <div class="contact-methods-container">
      <div class="contact-methods">
      </div>
      <a class="add-contact-method" data-contact-type="phone">+ Add Phone Number</a>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
<div class="contact-methods-sms">
  <div class="contact-method-group well well-small">
    <h4>SMS:</h4>
    <div class="contact-methods-container">
      <div class="contact-methods">
      </div>
      <a class="add-contact-method" data-contact-type="sms">+ Add SMS Number</a>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
<div class="contact-methods-email">
  <div class="contact-method-group well well-small">
    <h4>Email:</h4>
    <div class="contact-methods-container">
      <div class="contact-methods">
      </div>
      <a class="add-contact-method" data-contact-type="email">+ Add Email Address</a>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
