<div class="contact-method">
  <div id="contact-method-<%= id %>">
    <div class="address-display padded">
      <span><%= address %> (<%= label %>)</span>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
