<div id="contact-method-<%= id %>">
  <div class="address-display padded">
    <span><%= this.model.toString() %></span>
  </div>
  <div class="contact-buttons">
    <a class="remove icon-remove" href="#" rel="tooltip" data-original-title="Remove"></a>
    <a class="edit icon-pencil" href="#" rel="tooltip" title="Edit"></a>
  </div>
  <div class="clearfix"></div>
</div>
