/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *
 *= require chosen
 *= require_self
 *= require_tree .
 */
body { background: #767676 url(https://pagerduty.cachefly.net/web/assets/bg-linen-150e8c5d79414b33c9c1027a11916ce5.jpg) repeat scroll 0 0; }

#main {
  color: #222222;
  font: 13px arial, helvetica, clean, sans-serif;

  h1,h2,h3,h4,h5 { color: #404040; }
  h2 {
    margin: 0;
    font-size: 24px;
    line-height: 36px;
  }
  min-width: 1115px;

  .page-header {
    margin: 20px;
    margin-bottom: 0;
    background-color: #DCEAF4;
    border-bottom: 2px solid #BBD8E9;
    padding: 4px;
    border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    h1 {
      font-size: 28px;
      line-height: 31px;
      margin: 4px 0 0 8px;
    }
  }

  .content-body {
    background: white;
    margin: 20px;
    margin-top: 0;
    padding: 7px;
    border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
  }

  label {
    line-height: 18px;
    color: #404040;
    font-weight: bold;
  }
}

.new-alert-form-content {
  input[type="text"], textarea {
    width: 97.5%;
  }
  select {
    width: 100%;
  }
}

.condensed-table {
  border: 1px solid #C2C2C2;
  border-collapse: separate;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
}
