/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *
 *= require chosen
 *= require backgrid.min
 *= require backgrid-select-all
 *= require_self
 *= require_tree .
 */
body { background: #767676 url(https://pagerduty.cachefly.net/web/assets/bg-linen-150e8c5d79414b33c9c1027a11916ce5.jpg) repeat scroll 0 0; }

#main {
  color: #222222;
  font: 13px arial, helvetica, clean, sans-serif;

  h1,h2,h3,h4,h5 { color: #404040; }
  h2 {
    margin: 0;
    font-size: 24px;
    line-height: 36px;
  }
  min-width: 1115px;

  input[type=checkbox]:focus, select:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    outline: 1px dotted #666;
  }

  .page-header {
    margin: 20px;
    margin-bottom: 0;
    background-color: #DCEAF4;
    border-bottom: 2px solid #BBD8E9;
    padding: 4px;
    border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    h1 {
      font-size: 28px;
      line-height: 31px;
      margin: 4px 0 0 8px;
    }
  }

  .content-body {
    background: white;
    margin: 20px;
    margin-top: 0;
    padding: 7px;
    border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
  }

  label {
    line-height: 18px;
    color: #404040;
    font-weight: bold;
  }
}

.new-alert-form-content {
  input[type="text"], textarea {
    width: 97.5%;
  }
  select {
    width: 100%;
  }
}

.condensed-table {
  border: 1px solid #C2C2C2;
  border-collapse: separate;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
}

.pagination-view {
  padding: 5px;

  .pagination {
    font-size: 14px;
    margin: 0;
    height: 33px;
    /*background: gray;*/
    a {
      line-height: 23px;
    }
  }
  .pagination-total {
    margin: 0 25px;
    padding: 0 7px;
    border-radius: 4px;
    height: 31px;
    line-height: 32px;
    border:1px solid #dddddd;
  }
  .pagecount span {
    line-height: 33px;
  }
  .pagecount select {
    margin: 0 3px;
    height: 33px;
  }
}
.pagination-view .pagination ul {
  background-color: #fff;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#fff), to(#f2f2f2));
  background-image: -moz-linear-gradient(top, #fff, #f2f2f2);
  background-image: -ms-linear-gradient(top, #fff, #f2f2f2);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, #f2f2f2));
  background-image: -webkit-linear-gradient(top, #fff, #f2f2f2);
  background-image: -o-linear-gradient(top, #fff, #f2f2f2);
  background-image: linear-gradient(top, #fff, #f2f2f2);
  filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#fff', EndColorStr='#f2f2f2')";
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#fff', EndColorStr='#f2f2f2')";
  box-shadow: 0 0 1px rgba(0,0,0,0.1);
  a { background-color: transparent; }
}
.pagination-view .pagination li:not(:first-child):not(:last-child) a {
  border-left: none;
  border-right: none;
}
.pagination-view .pagination li:first-child a {
  border-right: none;
}
.pagination-container {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background: #fff;
}
