// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#grid-container {
  min-height: 200px;
  background-color: #f7f7f7;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#f7f7f7), to(#efefef));
  background-image: -moz-linear-gradient(top, #f7f7f7, #efefef);
  background-image: -ms-linear-gradient(top, #f7f7f7, #efefef);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f7f7f7), color-stop(100%, #efefef));
  background-image: -webkit-linear-gradient(top, #f7f7f7, #efefef);
  background-image: -o-linear-gradient(top, #f7f7f7, #efefef);
  background-image: linear-gradient(top, #f7f7f7, #efefef);
  filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#f7f7f7', EndColorStr='#efefef')";
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#f7f7f7', EndColorStr='#efefef')";
  overflow: hidden;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  margin-bottom: 18px;
}

.backgrid thead th {
  background-color: transparent;
}
.backgrid th a {
  color: #555;
  text-shadow: 0 1px 0 #fff;
  text-decoration: none;
}
.backgrid tbody tr td, .backgrid tbody tr th {
  background-color: #f9f9f9;
}

.alerts-grid table thead tr {
  background-color: #ededed;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#ededed), to(#ddd));
  background-image: -moz-linear-gradient(top, #ededed, #ddd);
  background-image: -ms-linear-gradient(top, #ededed, #ddd);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ededed), color-stop(100%, #ddd));
  background-image: -webkit-linear-gradient(top, #ededed, #ddd);
  background-image: -o-linear-gradient(top, #ededed, #ddd);
  background-image: linear-gradient(top, #ededed, #ddd);
  filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ededed', EndColorStr='#ddd')";
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ededed', EndColorStr='#ddd')";
}

.alerts-grid table thead tr th {
  border: 1px solid #ccc;
  box-shadow: 0 0 1px rgba(255,255,255,0.4) inset;
  padding: 8px 10px;
}

.alerts-grid .backgrid td {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 1px 0 #fff inset;
  padding: 6px 10px;
  vertical-align: top;
}

.alerts-grid .select-all-header-cell {
  width: 12px;
  max-width: 12px;
}

#main table.backgrid input[type=checkbox]:focus {
  outline: none;
}

.alert-actions {
  padding: 5px;
  height: 29px;
  line-height: 29px;
  border: 1px solid #ddd;
  border-top: 1px solid #fff;
  a.btn-small {
    margin-bottom: 3px;
    padding: 4px 12px;
  }
  a.new-alert {
    font-size: 1.1em;
    font-weight: bold;
  }
}

.alert-actions-top {
  border: 1px solid #ddd;
  border-bottom: none;
}

.backgrid .is-selected td {
  background-color: #fafbfd;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#fafbfd), to(#dfeaf3));
  background-image: -moz-linear-gradient(top, #fafbfd, #dfeaf3);
  background-image: -ms-linear-gradient(top, #fafbfd, #dfeaf3);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fafbfd), color-stop(100%, #dfeaf3));
  background-image: -webkit-linear-gradient(top, #fafbfd, #dfeaf3);
  background-image: -o-linear-gradient(top, #fafbfd, #dfeaf3);
  background-image: linear-gradient(top, #fafbfd, #dfeaf3);
  filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#fafbfd', EndColorStr='#dfeaf3')";
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#fafbfd', EndColorStr='#dfeaf3')";
  border: 1px solid #CBDDEB;
}

.backgrid thead tr {
  th.asc, th.desc {
    background-color: #ddd;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#ddd), to(#cdcdcd));
    background-image: -moz-linear-gradient(top, #ddd, #cdcdcd);
    background-image: -ms-linear-gradient(top, #ddd, #cdcdcd);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ddd), color-stop(100%, #cdcdcd));
    background-image: -webkit-linear-gradient(top, #ddd, #cdcdcd);
    background-image: -o-linear-gradient(top, #ddd, #cdcdcd);
    background-image: linear-gradient(top, #ddd, #cdcdcd);
    filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ddd', EndColorStr='#cdcdcd')";
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ddd', EndColorStr='#cdcdcd')";
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
  }
}

.backgrid th b.sort-caret {
  display: inline;
}
