// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#contact-method-list {
  padding-top: 10px;
}

#contact-method-list, .notification-rule-list {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  padding-top: 10px;
  border-radius: 4px;
  border-collapse: separate;
  border: 1px solid #BBBBBB;
  width: 100%;
  margin-bottom: 18px;
}
.contact-method-list, .contact-method-group {
  margin: 0 10px 10px;
  padding: 0px 10px;
  position: relative;
  min-height: 36px;
}

.contact-method-group h4 {
  position: absolute;
  top: 0px;
  left: 10px;
  width: 90px;
}

.contact-method-list, .notification-rule-list {
  border-collapse: separate;
}

.contact-method-group .contact-methods-container {
  margin-left: 90px;
  padding-top: 6px;
  padding-bottom: 10px;
}

.contact-method-group .contact-methods-container .contact-methods .contact-method .padded {
  margin-top: 7px;
  margin-bottom: 12px;
}

.contact-method-group .contact-methods-container .contact-methods .contact-method .address-display {
  float: left;
  width: 475px;
  margin-right: 80px;
  word-break: break-all;
}

.contact-method-group .contact-methods-container .add_contact_method {
  float: left;
  margin-top: 6px;
  clear: both;
  margin-bottom: 9px;
}

.contact-methods .contact-method .cm-form {
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  background-color: #EAEAEA;
  float: left;
  margin-bottom: 5px;
  padding: 5px 0;
  width: 525px;
}

.contact-method form, .notification-rule form {
  margin: 0;
}

.contact-method .cm-label {
  float: left;
  width: 120px;
}

.contact-method .address {
  float: left;
  width: 225px;
  margin-left: 5px;
}

.contact-method input.contact-method-address {
  width: 205px;
}

.contact-method .btn {
  float: right;
  margin-right: 6px;
}

.contact-method .cm-label select {
  width: 110px;
}

.contact-method .contact-buttons, .notification-rule .rule-buttons {
  float: right;
  width: 60px;
  margin-left: -70px;
}

.contact-method .contact-buttons, .notification-rule .rule-buttons {
  a {
    display: inline-block;
    float: right;
    margin-right: 10px;
    padding-top: 5px;
    font-size: 22px;
    color: #404040;
  }
}

.notification-rule .rule-buttons {
  width: 120px;
  a {
    padding: 0;
    padding-bottom: 4px;
  }
}

.contact-method .contact-buttons, .notification-rule .rule-buttons {
  a:hover {
    opacity: 0.8;
    text-decoration: none;
    cursor: pointer;
  }
}

#contact-method-list .add-contact-method:hover {
  cursor: pointer;
}

.notification-rule-list .add-notification-rule {
  float: left;
  margin-left: 15px;
  margin-bottom: 10px;
}

.notification-rule-list .notification-rule {
  margin: 0 10px 10px;
  padding: 5px 8px;
  position: relative;
}

.notification-rule-list .notification-rule input[type=number], .notification-rule-list .notification-rule input[type=text] {
  width: 25px;
  text-align: right;
  margin-right: 5px;
}

.notification-rule-list .notification-rule {
  input, select { margin: 0; }
}

.notification-rule-list .notification-rule select {
  width: 250px;
  margin-left: 5px;
}

.notification-rule-list .notification-rule .buttons {
  float: right;
  width: 140px;
}

.notification-rule-list .notification-rule .notification-rule-inner {
  float: left;
  margin-right: 110px;
  word-break: break-all;
}

.notification-rule-list .notification-rule .contact-type-icon {
  margin: 0 5px;
}

.blulite {
  background-color: #BBD8E9;
  padding: 1px 4px;
  font-weight: bold;
}
